$green: #6FCF97;
$purple: #BC9CFF;
$dark-shade: #1F2041;
$dark-shade75: rgba(31, 32, 65, 0.75);
$dark-shade50: rgba(31, 32, 65, 0.50);
$dark-shade25: rgba(31, 32, 65, 0.25);
$dark-shade05: rgba(31, 32, 65, 0.05);

$main-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

$main-background: #E5E5E5;
$white: #ffffff;
